# VScodeの設定
/.vscode/

# バイナリファイル
/AOJ/CGL/CGL_1_A
/AOJ/DSL/DSL_1_A
/AOJ/DSL/DSL_1_B
/AOJ/DSL/RMQ
/AOJ/DSL/RSQ
/AOJ/GRL/GRL_1_A
/AOJ/GRL/GRL_2_A
/AtCoder/ABC129/A
/AtCoder/ABC129/D
/AtCoder/ABC130/A
/AtCoder/ABC130/B
/AtCoder/ABC130/C
/AtCoder/ABC130/D
/AtCoder/ABC131/A
/AtCoder/ABC131/B
/AtCoder/ABC131/C
/AtCoder/ABC131/D
/AtCoder/ABC132/A
/AtCoder/ABC132/B
/AtCoder/ABC132/C
/AtCoder/ABC132/E
/AtCoder/ABC133/A
/AtCoder/ABC133/B
/AtCoder/ABC133/C
/AtCoder/ABC133/D
/AtCoder/ABC134/B
/AtCoder/ABC134/C
/AtCoder/ABC134/D
/AtCoder/ABC134/E
/AtCoder/ABC135/a
/AtCoder/ABC135/b
/AtCoder/ABC135/c
/AtCoder/ABC136/A
/AtCoder/ABC136/B
/AtCoder/ABC136/C
/AtCoder/ABC136/D
/AtCoder/ABC137/A
/AtCoder/ABC137/B
/AtCoder/ABC137/D
/AtCoder/ABC138/B
/AtCoder/ABC138/C
/AtCoder/ABC138/D
/AtCoder/ABC139/A
/AtCoder/ABC139/B
/AtCoder/ABC139/C
/AtCoder/ABC139/D
/AtCoder/ABC139/E
/AtCoder/ABC140/B
/AtCoder/ABC140/C
/AtCoder/ABC140/D
/AtCoder/ABC141/A
/AtCoder/ABC141/B
/AtCoder/ABC141/C
/AtCoder/ABC141/D
/AtCoder/ABC141/E
/AtCoder/ABC142/A
/AtCoder/ABC142/B
/AtCoder/ABC142/C
/AtCoder/ABC142/D
/AtCoder/ABC142/E
/AtCoder/ABC143/B
/AtCoder/ABC143/C
/AtCoder/ABC143/D
/AtCoder/ABC144/B
/AtCoder/ABC144/C
/AtCoder/ABC144/D
/AtCoder/ABC145/B
/AtCoder/ABC145/C
/AtCoder/ABC145/D
/AtCoder/ABC145/D2
/AtCoder/ABC145/E
/AtCoder/ABC146/A
/AtCoder/ABC146/B
/AtCoder/ABC146/C
/AtCoder/ABC146/D
/AtCoder/ABC147/B
/AtCoder/ABC147/C
/AtCoder/ABC147/D
/AtCoder/ABC148/B
/AtCoder/ABC148/C
/AtCoder/ABC148/D
/AtCoder/ABC148/E
/AtCoder/ABC149/A
/AtCoder/ABC149/B
/AtCoder/ABC149/C
/AtCoder/ABC149/D
/AtCoder/ABC150/B
/AtCoder/ABC150/C
/AtCoder/ABC150/D
/AtCoder/AtcoderBiginnersSelection/ABC049C
/AtCoder/AtcoderBiginnersSelection/ABC081B
/AtCoder/AtcoderBiginnersSelection/ABC083B
/AtCoder/AtcoderBiginnersSelection/ABC085B
/AtCoder/AtcoderBiginnersSelection/ABC085C
/AtCoder/AtcoderBiginnersSelection/ABC086C
/AtCoder/AtcoderBiginnersSelection/ABC088B
/AtCoder/DDCC2020/B
/AtCoder/DDCC2020/C
/AtCoder/NIKKEI_Programming_Contest_2019-2/A
/AtCoder/NIKKEI_Programming_Contest_2019-2/B
/AtCoder/SUMITOMO_MITUI_TRUST/B
/AtCoder/SUMITOMO_MITUI_TRUST/C
/AtCoder/SUMITOMO_MITUI_TRUST/D
/AtCoder/SUMITOMO_MITUI_TRUST/F
/AtCoder/TypicalDPContest/A
/Codeforces/Round606Div2/A
/Codeforces/Round606Div2/B
/Codeforces/Round606Div2/C
